td, th {
	border: 3px solid #4682B4; 
    color: #20B2AA; 
    font-style: italic;
    }
th{
    font-size: larger;
    }
h1{
    font-family: 'Verdana', sans-serif; 
    font-style: italic;
    text-align: center;
    color: #ADD8E6; 
    }
tr{
    font-family: 'Trebuchet MS', sans-serif; 
    font-size:30px;
    }
.planet_img{
    width:200px;
    height:200px;
    }
#planets{
    margin-left:auto;
    margin-right:auto;
    }
.td_title{
    text-align: center;
    }
body{
    background-color: #B0E0E6; 
    }
table{
    border-collapse:collapse;
    text-align: center;
    }
td:not(.td_title){
    font-family: 'Georgia', serif; 
    font-size:15px;
    font-style:normal;
    }
th:nth-child(1), td:nth-child(1){
    background-color: #87CEEB;
    }
th:nth-child(2), td:nth-child(2){
    background-color: #6495ED;
    }
th:nth-child(3), td:nth-child(3){
    background-color: #1E90FF;
    }
th:nth-child(4), td:nth-child(4){
    background-color: #5F9EA0; 
    }
th:nth-child(5), td:nth-child(5){
    background-color: #00CED1; 
    }
