td, th {
    border: 3px solid #3E2723; 
    color: #4E342E;
    font-style: italic;
}
th {
    font-size: larger;
}
h1 {
    font-family: 'Gill Sans', sans-serif; 
    font-style: italic;
    text-align: center;
    color: #5D4037; 
    }
tr {
    font-family: 'Palatino', serif;
    font-size: 30px;
    }
.planet_img {
    width: 200px;
    height: 200px;
    }
#planets {
    margin-left: auto;
    margin-right: auto;
    }
.td_title {
    text-align: center;
    }
body {
    background-color: #D7CCC8; 
    }
table {
    border-collapse: collapse;
    text-align: center;
    }
td:not(.td_title) {
    font-family: 'Book Antiqua', serif; 
    font-size: 15px;
    font-style: normal;
    }
th:nth-child(1), td:nth-child(1) {
    background-color: #EDE7D6;
    }
th:nth-child(2), td:nth-child(2) {
    background-color: #E6DBD0; 
    }
th:nth-child(3), td:nth-child(3) {
    background-color: #DED3C2;
    }
th:nth-child(4), td:nth-child(4) {
    background-color: #E5DED2; 
    }
th:nth-child(5), td:nth-child(5) {
    background-color: #EAE2D3; 
    }
